@model MusicRaterWebApp.ViewModels.AlbumCleanupViewModel
@{
    ViewBag.Title = "Cover Cleanup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cover Cleanup</h2>

<body>
    <div>
        <table id="inactiveCovers" class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Cover
                    </td>
                </tr>
                @foreach (var cover in Model.covers)
                {
                    <tr>
                        <td>
                            @(cover.albumId)
                        </td>
                        <td>
                            <img src=@("/Images/Albums/" + cover.albumCoverId) style="height:300px;width:300px;" id="albumCoverImage" />
                        </td>
                        <td>
                            <button data-albumCoverPath="@("/Images/Albums/" + cover.albumCoverId)" class="btn btn-default js-delete">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-delete").on("click", function () {
                var button = $(this);
                $.ajax({
                    url: "/api/useralbumranks/" + "?winnerId=" + button.attr("data-album-id") + "&loserId=" + otherButton.attr("data-album-id") + "&winnerExpected=" + button.attr("data-expected") + "&loserExpected=" + otherButton.attr("data-expected"),
                    method: "DELETE",
                    success: function () {
                        $.ajax({
                            url: "/api/albums/&path=" + button.attr("data-albumCoverPath"),
                            method: "GET",
                            success: function () {
                                console.log("success");
                            }
                        });
                    }
                });
            });
        });
    </script>
}