@{
    ViewBag.Title = "MusicRater";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>
        This is Musicrater. 
        <br />
        Ever have trouble comming up with a list of your favorite albums? Let Musicrater do that for you. 
    </p>
    <p>
        Play our ranking game where you will be shown two albums, pick the one you prefer. As you play we will be using your answers to rank the albums you have seen.
        <br />
        <br />The more you play the more accurate it becomes!
    </p>
</div>
