@{
    ViewBag.Title = "MusicRater";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>
        I have to be honest I'm not sure what I'm going to put on this home page... That said I dont want to see the default screen anymore so I'm gutting it!
    </p>
</div>
