@model MusicRaterWebApp.ViewModels.AlbumDescriptionViewModel
@{
    ViewBag.Title = "GetAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.album.albumName</h2>
<hr/>
<body>
    <p>
        @Model.album.bandName
        <ul>
            <li>
                @Model.album.year
            </li>
            <li>
                @Model.genres[0].genre
            </li>
    </p>
    <p><a class="btn btn-default" href="/Album/Edit/@Model.album.albumId">Edit</a></p>
</body>

