
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="row">
    <form>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password">
        <p><a class="btn btn-default" id="loginButton">Login</a></p>
    </form>
</div>
