@model MusicRaterWebApp.ViewModels.UserFavoriteAlbumsViewModel
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.curUser.userName</h2>
<h3>My Favorites<br /></h3>

<ol>
    @foreach( var album in Model.favoriteAlbum)
    {
        
        <li>@Html.ActionLink(@album.albumName, "GetAlbum/" + @album.albumId, "Album")</li>
    }
</ol>