@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Have you ever been asked what your favorite albums of all time are and never had an answer? Using this web app you can put albums you have listened to head to head to find out!</p>
